<p>
  <strong>Title:</strong>
  <%= @love_letter.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @love_letter.text %>
</p>
<br/>
Can View: <%= @canView %> <br/>
Unlock Time: <%= @unlockTime %>