<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<% @page = "show_archived" %>
<%= render 'createNavbar' %>


<div class="jumbotron">
  <div class="container">
    <div class = "row"> 
    <h1 class="display-3">Letters For Eleanor</h1> 
    </div>
    <div class="row">
    <div class="col col-md-9">
    <h3>Your Archived Letters</h3>
    <p>Take a look back at letters you've seen before anytime you'd like.</p>
    </div>
    <div class="col col-md-3">
    <img src="/images/LetterJar.png" class="jumbotronImage"></img>
    </div>
    </div>
  </div> 
</div>
  
  <%= render 'listAllLetters' %>

</div>
