<div class="container" style="z-index: 5; padding-top: 30px;">
<div class="letter-display-paper">

  <h1 style="text-align: center;">No Access</h1>
  <p style="text-align: center;">You can't access a letter so soon!<br/> 
  <img src="/images/sadpug.jpg" style="height: 50vh"></img>
  </p>


</div>
</div>