<div class="container" style="z-index: 5; padding-top: 30px;">
<div class="letter-display-paper">

  <h1 style="text-align: center;"><%= @letter.title %></h1>
 
<p>
  <%= simple_format(@letter.text) %>
  <br/>
  From: <%= @letter.from %>
</p>
</div>
</div>