<% @page = "create_letter" %>


<div class="jumbotron">
  <div class="container">

  <h1>New Letter</h1>
    <%= form_for @letter, url: {action: "create_link_letter"} do |f|  %>
      <%= render partial: "form_innards", locals: {input_letter: f} %>      
<% end %>

<div class="col">
<%= link_to 'Back to Home', letter_link_path(@letter_link.token) %>
</div>
  </div> 
</div>









