<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Error</h1> 
    <p>The link you've inputted doesn't exist, is incorrect, or has beeen deleted.</p>
    </div> 
  </div>

</div>
