<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<% @page = "sent_letters" %>
<%= render 'createNavbar' %>

  <div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Submitted Letters</h1> 
    <p>Here is how Eleanor will see all of the letters you've submitted!</p>
    </div> 
  </div>
  
  <%= render 'listAllLetters' %>

</div>
