<li class="nav-item <% if controller.action_name == "show" %>active<% end %>">
  <%= link_to "Home", letter_link_path(@letter_link), class: "nav-link" %>
</li>
<li class="nav-item <% if controller.action_name == "new_link_letter" %>active<% end %>">
  <%= link_to "Create Letter", letter_link_new_letter_path(@letter_link), class: "nav-link" %>
</li>
<li class="nav-item <% if controller.action_name == "sent_letters" %>active<% end %>" >
  <%= link_to "View Letters", sent_letters_letter_link_path(@letter_link), class: "nav-link" %>
</li>

