<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>LongDistanceLetters</title>
=======
    <title>TestDbApp</title>
>>>>>>> 2a6ff49e845a908f17287f4cef55ce97623ea04b
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
